@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  @apply bg-white dark:bg-gradient-to-r from-cyan-900 to-gray-800;
}

.studentCards:hover img {
  transform: scale(1.1);
  translate: all .8s ease-in-out;
}

.actif{
  background-color: chartreuse;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  padding-top: 4px;
  margin-left: 34px;
  position: static;
}
.image-upload >label >input{
  display: none;
}
input #date{
  border-radius: 5px;
  background-color: rgb(197, 25, 25);
}
.skeleton{
  animate: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
  0%{
    background-color: hsd(200, 20%, 70%); 
  }
  100% {
    background-color: hsd(200, 20%, 95%);

  }
}
